/*===========================
    03.Hero-section CSS
===========================*/
.hero-section {
    background: $ctm-hero-grad2; 
    padding-top: 50px;
    padding-bottom: 130px;
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;

    @media #{$laptop} {
        padding-top: 220px;
        padding-bottom: 180px;
    }
    @media #{$lg} {
        padding-top: 210px;
        padding-bottom: 180px;
    }
    @media #{$md} {
        padding-top: 210px;
        padding-bottom: 130px;
    }
    @media #{$xs} {
        padding-top: 150px;
        padding-bottom: 130px;
    }

    .hero-content-wrapper {

        h1 {
            line-height: 82px;
            font-weight: 700;
            margin-bottom: 15px;

            @media #{$laptop} {
                line-height: 70px;
            }
            @media #{$lg} {
                line-height: 55px;
                font-size: 39px;
            }
            @media #{$md} {
                line-height: 65px;
            }
            @media #{$sm} {
                line-height: 65px;
                font-size: 45px;
            }
            @media #{$xs} {
                line-height: 50px;
                font-size: 36px;
            }
        }

        p {
            font-weight: 300;
            margin-bottom: 30px;
        }

    }

    .hero-img {
        img {

            @media #{$laptop} {
                width: 110%;
            }
            @media #{$lg} {
                width: 120%;
            }
            @media #{$md} {
                width: 100%;
            }
            @media #{$xs} {
                width: 100%;
            }
        }

        @media #{$md} {
            margin-top: 50px;
        }
        @media #{$xs} {
            margin-top: 50px;
        }
    }

 

    .buy-now {
        margin-right: 4%;
        margin-bottom: 4%;
      }
      
      .meet-now {
        margin-right: 4%;
        margin-bottom: 4%;
      }
}
