// Font Family
$font: 'Poppins', sans-serif;


// Colors ---------------
$white: #fff;
$black: #222;
$gray: #F3FDFF;
$body-bg: #F4F7FC;


// Theme Color
$theme-color: #365ae1;
$theme-color-2: #84E4A4;

$border-color: #ddd;

//Body Color
$body-color: #2e325b;


// Heading Color
$heading-color: #0a178b;


// Gradients color
$gradient-1 : linear-gradient(to right bottom, #34b15e, #4bbe70, #5fca81, #72d793, #85e4a5);
$gradient-2 : linear-gradient(to left top, #365ae1, #2e4ed2, #2541c3, #1c35b5, #1029a6);
$gradient-3 : radial-gradient(#365ae1, #3357e1, #2f54e2, #2c51e2, #294ee2, #264add, #2346d8, #2042d3, #1d3cc8, #1935bc, #152fb1, #1029a6);



// Responsive Variables
$desktop: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 480px) and (max-width: 767px)';


$ctm-black :black;
$ctm-name-perple: #5600ff; 
$ctm-name-perple-light: #33a0ff;
$ctm-name-white: white;
$ctm-stiky-color: #0f082a;
$ctm-navbar-selected-color:#be85e4;
$ctm-hero-grad : linear-gradient(#0f082a 0%, #0f082a 4.66%, #281f4f 76.69%, #221a44 100%);
$ctm-theam-btn-grad: linear-gradient(to right, #5d00ff 0%, #6200ff 50%, #9000ff 100%);
$ctm-main-background: #bac6f2;
$ctm-offwhite:rgb(218, 205, 212);

// $ctm-hero-grad2 : linear-gradient(#10001a 0%, #10001a 4.66%, #350934 76.69%, #200134 100%);
// $ctm-hero-grad2 : linear-gradient(#10001a 0%, #10001a 4.66%, #350934 80.69%, #350934 100%);
$ctm-hero-grad2 : linear-gradient(#10001a 0%, #350934 80.69%, #350934 100%);
$ctm-features-bg: linear-gradient(#70219e 0%, #3d1489 22.16%, #26085b 76.69%, #2b0a73 100%);


$ctm-poster-background:#10001a;
$ctm-poster-button-hover-bg: #b552cb;